/* Off animation */
@keyframes off {
  0% {background-color: #4d4545;}
  17% {background-color: #454d45;}
  33% {background-color: #45454d;}
  50% {background-color: #4d454d;}
  66% {background-color: #454d4d;}
  83% {background-color: #4d4d45;}
  100% {background-color: #454545;}
}

@keyframes current {
  0% {color: black; background-color: #26d1ba;}
  12.5% {color: white; background-color: #20659e;}
  25% {color: white; background-color: #6e3daf;}
  37.5% {color: black; background-color: #fa4da4;}
  50% {color: black; background-color: #fc7777;}
  62.5% {color: white; background-color: #e69525;}
  75% {color: black; background-color: #adf723;}
  87.5% {color: black; background-color: #23f76d;}
  100% {color: black; background-color: #26d1ba;}
}

/* Appearance animation */
@keyframes appear {
  0% {display: inline;}
  100% {display: inline;}
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
}

/* Active/current link */
.sidebar .active {
  background-color: #26d1ba;
  color: white;
  animation-name: current;
  animation-duration: 32s;
  animation-iteration-count: infinite;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #4d4545;
  color: white;
  animation-name: off;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
